// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {
  background-image: url("https://assets.entrepreneur.com/content/3x2/1300/20150708172005-coding-working-workspace-apple-macintosh.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

#post_title h2 {
  color: #212121 !important;
  margin-top: 20px;
  margin-bottom: 50px;
}

#posts p {
  margin-top: 50px;
  margin-bottom: 50px;
}
